<div ng-controller="NewFromTemplateController">
  <h1>{{ template.metadata.name }}</h1>
  <alerts alerts="alerts"></alerts>
  <div class="icon" ng-if="template.metadata.annotations.icon"><img ng-src="{{ template | icon }}"></div>
  <div class="metadata">
    <span ng-if="template.metadata.annotations.version">Version {{ template | annotation:'version' }}</span>
    <span ng-if="template.metadata.annotations.provider">Provided By: {{ template | annotation:'provider' }}</span>
  </div>
  <div class="description" if="template.metadata.annotations.description">{{ template | description }}</div>
  <div class="source" ng-if="templateUrl">
  <label>Source</label><span>{{ templateUrl }}</span>
  </div>
  <div class="images" ng-if="templateImages.length">
  Images
  <ul ng-repeat="image in templateImages">
    <li>
      <img ng-src="{{ image | icon }}" />
      <span class="name">{{ image.metadata.name }}<span>
  	  <span class="version" ng-if="image.metadata.annotations.version">Version {{ image | annotation:'version' }}<span>
  	  <span class="provider" ng-if="image.metadata.annotations.provider">Provided by {{ image | annotation:'provider' }}<span>
    </li>
  </ul>
  </div>
  <labels labels="template.labels"></labels>
  <template-options></template-options>
  
  <div class="buttons">
  	<button ng-click="createFromTemplate()">Create {{ template.metadata.name }} App</button>
  	<a href="javascript:;" back>Cancel</a>
  </div>
  	
  <div ng-hide="template">
  	{{ emptyMessage }}
  </div>
</div>